// pagina.component.scss
.background-image {
    --background: url('../../../assets/fondos/EstadisticaFondo.gif');    
    //--background: url('https://png.pngtree.com/thumb_back/fh260/back_our/20200730/ourmid/pngtree-original-blackboard-arithmetic-graphics-background-png-image_376987.jpg');    
    
  }
  .lista-botones {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      grid-gap: 20px;
      justify-items: center;
    
      ion-button {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        //background-color: #007bff;
        color: #ffffff;
        border-radius: 10px;
    
        // Aplicar la animación al contenido del botón
        span {
          text-overflow: ellipsis; /* Mostrar puntos suspensivos si el texto es demasiado largo */
          white-space: normal; /* Permitir que el texto se rompa en varias líneas */
          word-break: break-all; /* Romper palabras en cualquier punto si exceden el ancho del botón */
          display: flex;
        }
  
        // Aplicar la animación de efecto de onda al botón
      animation: waveAnimation 2s ease-in-out infinite;
  
        @keyframes waveAnimation {
          0% {
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2), 0 0 30px rgba(76, 125, 177, 0.5);
          }
          50% {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 0 60px rgba(84, 100, 117, 0.7);
          }
          100% {
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2), 0 0 30px rgba(140, 151, 164, 0.5);
          }
        }
      }
    }
    
  //Para los titulos de los temas
  /* Estilos para el h2 con animación */
  h2 {
    /* Estilos para el separador */
    position: relative;
    text-align: center;
    margin-top: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: black;
    -webkit-background-clip: text;
    color: transparent;
  
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: calc(50% - 50px);
      height: 2px;
      background-color: black;
      opacity: 0;
      animation: fadeInOutAnimation 2s ease-in-out infinite;
      transform-origin: center;
    }
  
    &::before {
      left: -5px;
      transform: translateY(-50%);
    }
  
    &::after {
      right: -5px;
      transform: translateY(-50%);
    }
  
    @keyframes fadeInOutAnimation {
      0%, 100% {
        opacity: 0;
        transform: scale(0.8);
      }
      50% {
        opacity: 1;
        transform: scale(1);
      }
    }
  
    /* Animación para el texto */
    animation: rotateText 20s linear infinite;
  
    @keyframes rotateText {
      0%, 100% {
        transform: rotateX(0);
      }
      5%, 95% {
        transform: rotateX(360deg);
      }
    }
  }
    .botones-estadistica{
      --background: #0fd8c4a9;
    }

    ion-button.ver-mas-button {
      /* Aplicar estilos específicos al botón "Ver mas" */
      width: 100%; /* El ancho será el 100% menos el doble del padding (20px a cada lado) */
      height: 40px; /* Ajusta la altura deseada */
      line-height: 40px; /* Alinea el texto verticalmente en el centro */
      font-size: 14px; /* Ajusta el tamaño de fuente según tus preferencias */
      // background-color: #007bff;
      color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      // cursor: pointer;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      text-decoration: none; /* Elimina el subrayado del enlace */
      margin: 10px 0; /* Ajusta el margen superior e inferior según tus preferencias */
      margin-top: 1.5em;
      /* Establecer un gradiente de fondo para que el texto sea más legible en el desplazamiento */
      //background: linear-gradient(90deg, rgba(0, 123, 255, 0.7), rgba(0, 123, 255, 0.7) 60px, #007bff 60px);
    
      /* Aplicar la animación de efecto de onda al botón */
      animation: waveAnimation 2s ease-in-out infinite;
    
      @keyframes waveAnimation {
        0% {
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2), 0 0 30px rgba(76, 125, 177, 0.5);
        }
        50% {
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 0 60px rgba(84, 100, 117, 0.7);
        }
        100% {
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2), 0 0 30px rgba(140, 151, 164, 0.5);
        }
      }
    }