<app-header title="Estadistica"></app-header>

<ion-content class="ion-padding background-image">
  <h2 class="wave-effect">Estadistica</h2>

  <div class="lista-botones">
    <ion-button class="botones-estadistica" *ngFor="let values of formulas; let key = index" (click)="openModal(key)"><span>{{ values.title }}</span>
      <!-- <img src="https://f4.bcbits.com/img/0022763032_10.jpg" alt="Icono"> Agrega la ruta de la imagen -->
      
      <!-- <ion-icon name="chevron-forward-outline" slot="end"></ion-icon> -->
    </ion-button>
  </div>

  <ion-button class="ver-mas-button botones-estadistica" href="http://localhost:4200/home">Ir a Home</ion-button>

</ion-content>
