/* En tu archivo de estilos SCSS (por ejemplo, styles.scss) */

.splash-screen {
    /* Establecer el fondo de la pantalla de carga */
    background-color: #f0f0f0; /* Puedes cambiar el color de fondo según tus preferencias */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Establecer la altura de la pantalla de carga al 100% de la altura de la ventana */
  
    /* Estilo para la imagen */
    .screen {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  